/* 1. Cargar la fuente web PRIMERO */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* 2. Cargar las directivas de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. Definir la fuente base para todo el sitio */
body {
  font-family: 'Inter', sans-serif;
}


